body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-areas:
        "car-images car-specs"
        "car-description car-specs";
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

figure {
    grid-area: car-images;
    display: grid;
    grid-template-areas:
        "large-image small-image-1"
        "large-image small-image-2";
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin: 0;
}
.car-description button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 70px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.large-image {
    grid-area: large-image;
    width: 100%;
    height: 350px;
    border-radius: 8px;
    margin-top: 10px;
}

.small-image-1,
.small-image-2 {
    width: 100%;
    height: 170px;
    border-radius: 8px;
    margin-top: 10px;
}

.car-specs {
    grid-area: car-specs;
    align-self: center;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.car-specs h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.car-specs p {
    font-size: 1.2rem;
    color: #777;
}

.car-specs ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.car-specs ul li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.car-description {
    grid-area: car-description;
    margin-top: 20px;
}

.car-description h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.car-description p {
    font-size: 1.2rem;
    color: #555;
}

.ratings {
    margin-top: 20px;
    margin-left: 30px;
    color: #333; 
}

.ratings p {
    font-size: 1.2rem;
    color: #333; 
}

.ratings .star {
    color: #FFD700; 
    font-size: 1.5rem;
}

.rental-period {
    margin-bottom: 50px;
    padding-right: 100px; 
}

.rental-period h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.rental-period form {
    display: flex;
    flex-direction: column;
}

.rental-period label {
    margin-top: 10px;
    font-size: 1rem;
}

.rental-period input[type="datetime-local"],
.rental-period input[type="text"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}
.rental-period button{
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
@media (max-width: 768px) {
    main {
        grid-template-areas:
            "car-images"
            "car-specs"
            "car-description";
        grid-template-columns: 1fr;
        width: 95%;
    }

    figure {
        grid-template-columns: 1fr;
    }

    .car-specs ul {
        flex-direction: column;
        gap: 10px;
    }

    .car-description h3,
    .car-specs h2 {
        font-size: 1.5rem;
    }
}