body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #444;
    color: white;
    padding: 0 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

header nav ul li a {
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    text-decoration: none;
}

header nav ul li a:hover {
    color: darkblue ;
}

.header-search {
    height: 30rem;
    border: 1px solid;
    background-image: url(../img/img1.webp);
}
.header-search > h2 {
    display: none;
}

.header-search form {
    display: flex;
    width: 80%;
    background-color: white;
    padding: 0rem 1rem 0 2rem;
    border-radius: 2rem;
    margin: auto;
    margin-top: 5rem;
}

.header-search form div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-search form fieldset {
    flex: 1;
    position: relative;
    margin: 5px;
    padding: 1rem;
    border: none;
    border-right: 1px solid;
}


.header-search form fieldset label {
    position: absolute; 
    width: 1px;        
    height: 1px;      
    padding: 0;       
    margin: 0;         
    overflow: hidden;  
    clip: rect(0, 0, 0, 0); 
    border: 0;         
}

.search-button {
    width: 2rem;
    background: none; 
    color: black; 
    border: none;
    cursor: pointer;
    margin-left: 0;
}

.search-button span {
    display: none;
}

.about-us,
.questions {
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-us h2,
.questions h2 {
    grid-column: span 2;
    text-align: center;
}





