#header-search {
    height: 20rem;
    background-image: url(../img/img1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-search form {
    background: white;
    width: 80%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
    border-radius: 2rem;
}

#header-search form div {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border-right: 1px solid black;
}

#header-search form div input {
    align-self: flex-end;
}

.search-button {
    background: transparent;
    border: none;
    cursor: pointer; 
    padding: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.search-button i {
    font-size: 24px; 
    color: #000; 
}

.search-button:hover i {
    color: var(--hover-color);
}



