* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100%;
}

header {
    background: #444;
    color: white;
    padding: 0 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

header nav ul li a {
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    text-decoration: none;
}

header nav ul li a:hover {
    color: darkblue ;
}

.header-search {
    width: 100%;
    height: 500px;
    background-image: url(../img/img1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5rem;
}

.header-search > h2 {
    display: none;
}

.header-search form {
    display: flex;
    width: 80%;
    background-color: white;
    padding: 0.5rem 1rem 0 2rem;
    border-radius: 2rem;
    margin: auto;
}

.header-search form div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-search form div fieldset {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
    flex: 1;
    position: relative;
    border: none;
    border-right: 1px solid;
}


.header-search form div fieldset label {
    display: none;      
}

.header-search form div fieldset input {
    border: none;
    border-bottom: 1px solid;   
    margin-left: 1rem;
    width: 40%;
}

.header-search form div fieldset > input {
    width: 80%;
}

.search-button {
    width: 2rem;
    background: none; 
    color: black; 
    border: none;
    cursor: pointer;
    margin-left: 0;
}

.search-button span {
    display: none;
}

.about-us,
.questions {
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid;
}

.about-us h2,
.questions h2 {
    grid-column: span 2;
    text-align: center;
}


.about-us details,
.questions details {
    border-top: 1px solid;
}

.about-us details summary,
.questions details summary{
    list-style: none;
}



