:root {
    --main-color: black;
    --hover-color: #1E90FF;
    --active-color: blue;

    --background-color: #f9f9f9;
    --light-blue: #007bff;
    --dark-blue: #0056b3;
    --yellow: #ffeb3b;

    --dark-text-color: white;
    --dark-promo-background: #222;
    --font: Arial, sans-serif
}

body {
    font-family: var(--font);
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--main-color);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    min-height: 90vh;
    padding: 0 8rem;
    align-items: start;
}

#summary {
    width: 35%;
    margin-top: 5rem;
    border-radius: 16px;
}

.car-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.car-item p {
    margin-top: 8px;
    text-align: left;
    width: 100%;
}

.check-btn {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    background-color: var(--active-color);
    border: 1px solid white;
    border-radius: 16px;
    color: white;
    cursor: pointer;
}

.check-btn:hover {
    background-color: #367fff;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-promo-background);
        color: var(--dark-text-color);
    }
}

@media (max-width: 932px) {
    main {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #summary {
        width: 60%;
        margin-top: 0;
    }
}

@media screen and (max-width:932px) and (orientation:portrait) {

}

@media screen and (max-width:932px) and (orientation: landscape) {

}