:root {
    --main-color: black;
    --hover-color: #1E90FF;
    --active-color: blue;

    --background-color: #f9f9f9;
    --light-blue: #007bff;
    --dark-blue: #0056b3;
    --yellow: #ffeb3b;

    --dark-text-color: white;
    --dark-promo-background: #222;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    background-color: var(--background-color);
    color: var(--main-color);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    flex: 1;
    margin: auto;
    align-items: center;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-promo-background);
        color: var(--dark-text-color);
    }
}

@media screen and (max-width:932px) and (orientation:portrait) {
    main {
        flex-direction: column;
    }

    .content {
        flex-direction: column;
    }
}

@media screen and (max-width:932px) and (orientation: landscape) {
    main {
        flex-direction: column;
    }
}